<style>
  h1{
    font-family: Roboto;
    text-align: center;
    color: rgb(180, 180, 100)
    font-size: 40px;
    font-weight: normal;
    }

h1.title{
  color: rgb(14, 87, 164);
  text-align: center;
}

#banner {
  width: 100%;
  height: 360px;
  object-fit: cover;
}
   

  h2{
    font-family: Roboto;
    color: rgb(14, 87, 164);
    text-align: center;
  
  }
  .bodytext {
    font-family: rosybrown; 
    text-align: center;
    color: rgb(80,90,90)
  }

  #container{
    max-width: 720px;
    margin: 0 auto 0 auto;
  }

p {
   font-family: Roboto;
   color: rgb(14, 87, 164);
  
}


</style>