<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
     {% include 'nav.html' %}
      {% include 'banner.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
   <body
     
     <div class="container">
  
     <h3 class="text-center mt-2 mb">Thank you {{application['fullname']}}!</h3>
     <p class="lead text-center mt-2 mb"> We have received your application for the role of <b>{{job['title']}}</b>.</p>
     </div>

     {% include 'footer.html' %}