<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href= "/static/style.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Flask Careers
        </h1>
        <p class="subtitle">
          <img id="banner" src="/static/banner.jpg" height="320px">
        </p>
      </div>
     
     

      
      
    </section>

     <h2>About Flask Careers</h2>
    
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non consectetur a erat nam at lectus urna duis. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Lacinia at quis risus sed vulputate odio ut enim blandit. Ornare suspendisse sed nisi lacus sed viverra tellus. Mi ipsum faucibus vitae aliquet nec. Pellentesque id nibh tortor id. Feugiat vivamus at augue eget arcu dictum. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. </p>

    <h2>Open Positions</h2>
    
    <p id="bodytext" >TODO - Show the jobs here</p>
    <button>Contact Us</button>
    
  </body>
  
  
</html>